name: Auto-add issues to Project

on:
  issues:
    types: [opened, reopened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/rarhs/projects/2
          github-token: ${{ secrets.PROJECT_TOKEN }}
